<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">

      <div class="calculator-wrapper bg-primary img-rounded">
        <form class="form-inline">

          <div class="form-group">
            <button type="button" class="btn btn-danger ts-btn">C</button>
            <input type="text" class="form-control text-right ts-input-text" value="0" id="resultado" readonly>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-default ts-btn">7</button>
            <button type="button" class="btn btn-default ts-btn">8</button>
            <button type="button" class="btn btn-default ts-btn">9</button>
            <button type="button" class="btn btn-warning ts-btn">/</button>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-default ts-btn">4</button>
            <button type="button" class="btn btn-default ts-btn">5</button>
            <button type="button" class="btn btn-default ts-btn">6</button>
            <button type="button" class="btn btn-warning ts-btn">*</button>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-default ts-btn">1</button>
            <button type="button" class="btn btn-default ts-btn">2</button>
            <button type="button" class="btn btn-default ts-btn">3</button>
            <button type="button" class="btn btn-warning ts-btn">-</button>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-default ts-btn">0</button>
            <button type="button" class="btn btn-default ts-btn">.</button>
            <button type="button" class="btn btn-success ts-btn">=</button>
            <button type="button" class="btn btn-warning ts-btn">+</button>
          </div>

        </form>
      </div>

    </div> <!--col-md-3-->

  </div> <!--row-->

</div> <!--container-fluid-->
