<article>
  <h3>Class & Style Binding</h3>
  <div>
    Selecione uma classe:
    <select #classe (change)="0">
      <option value="default">Selecione uma opção</option>
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>
    <br><br>

    <div class="alert alert-info" role="alert"
         [style.display]="classe.value == 'default' ? 'block' : 'none'">
      Selecione uma opção acima para ver o que acontece
    </div>

    <div class="alert alert-danger" role="alert"
         [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      <strong>OOWW!!</strong> Erro fatal no servidor. Contate a equipe de Desenvolvimento.
    </div>

    <div class="alert alert-info" role="alert"
      [style.display]="classe.value == 'alert-info' ? 'block' : 'none'">
      Um simples card de info
    </div>

    <div class="alert alert-warning" role="alert"
    [style.display]="classe.value == 'alert-warning' ? 'block' : 'none'">
      Um simples card de aviso
    </div>

    <div class="alert alert-success" role="alert"
         [style.display]="classe.value == 'alert-success' ? 'block' : 'none'">
      Um simples card de sucesso
    </div>


  </div>
</article>
